@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital@0;1&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  background: #B699E5 url('TGpattern.svg') repeat;
  background-size: 50%;
  display: flex;
  justify-content: center;
}
.wrapper {
  max-width: 350px;
  padding: 10px;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-around
}
.header-content {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}
.labels-container {
  position: relative;
  width: calc(100% - 300px); /* Оставляем место для кнопки */
  min-height: 0px;
}
.label {
  position: absolute;
  width: 100%;
  border-radius: 30px;
  padding: 15px 15px;
  box-sizing: border-box;
}
.label-bottom {
  height: 25px;
  width: 120px;
  background-color: #9B74DC;
  top: 10px;
  left: 60px;
  z-index: 1;
}

.label-top {
  height: 25px;
  width: 120px;
  background-color: #7E5AB9;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}
.label-top h1 {
  color: #F7E2FF;
  font-size: 22px;
  margin: 0;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  
}

.label-top p {
  color: #36275B;
  font-size: 11px;
  margin: 5px 0 0;
  opacity: 0.9;
  position: absolute;
  top: 23px; /* Точное позиционирование */
  left: 15px;
  font-weight: 600;
  
}

.home-button {
  background-color: #F7E2FF;
  border: none;
  border-radius: 9px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  flex-shrink: 0;
  z-index: 3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.home-button svg {
  margin-bottom: 5px;
}

.home-button span {
  font-size: 9px;
  line-height: 1.2;
  text-align: center;
}

.icons {
  filter: invert(29%) sepia(16%) saturate(2078%) hue-rotate(219deg) brightness(97%) contrast(90%);

}

#description {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 10px;
  margin: 1px auto;
  max-width: 800px;
  padding: 0px;
  justify-content: center; 
}

.info-content p {
  font-family: 'Raleway', sans-serif;
  color: #453B5B;
  background: #F7E2FF;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  border-radius: 20px;
  white-space: normal; 
  word-break: break-word; 
  max-width: 250px; 
  max-height: 100px; 
  text-align: left; /
} 

.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  
  
}
.left-part, .right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-button {
  background-color: #604593;
  color: #F7E2FF;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 600;
  border: none;
  text-align: center;
  margin: 5px auto 5px auto; 
  padding: 15px 15px;
  border-radius: 20px;
  
}
.about-button {
  background:#F7E2FF; 
  color: #453B5B;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  border: none;
  margin: -28px;
  padding: 5px 5px;
  border-radius: 20px;
}

.info-card {
  border-radius: 15px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #453B5B;
  background: #F7E2FF;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  white-space: normal; 
  word-break: break-word; 
  max-width: 250px; 
  max-height: 100px; 
  text-align: left;
}
.info-button {
  display: inline-block;
  margin-top: 10px;
  background: #604593;
  color: #fff;
  padding: 10px 15px;
  border-radius: 12px;
  text-decoration: none;
}
.cards-wrapper {
  margin-top: 10px;
}
.card {
  background-color: #F7E2FF;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.card-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card h3 {
  font-size: 16px;
  margin: 0;
}
.card p {
  font-size: 12px;
  color: #777;
}
.arrow {
  font-size: 20px;
  color: #604593;
}
.courses-card {
  background: #F7E2FF;
  padding: 15px;
  border-radius: 15px;
}
.course {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}
.icon {
  font-size: 24px;
}
.text {
  flex: 1;
  padding: 0 10px;
}
.name {
  font-weight: bold;
}
.desc {
  font-size: 12px;
}
.meta {
  text-align: right;
}
.price {
  font-size: 15px;
  font-weight: bold;
  color: #604593;
  
}

.participants {
  font-size: 11px;
  font-weight: 300;
  
}

.meta button {
  background: #604593;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}
.divider {
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
.footer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #453B5B;
}
